<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Daniel Diril" />
    <meta name="description" content="<%= metaPageDescription %>" />
    <meta
      name="og:title"
      property="og:title"
      content="Links-storage - <%= headerTitle %>"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Links-storage - <%= headerTitle %></title>
    <link
      rel="shortcut icon"
      href="/favicon.webp"
      type="image/webp"
      sizes="51x51"
    />
  </head>
  <body>
    <%- include('./partials/header.ejs') %> <%- body %>
  </body>
</html>
